<div class="modal-wrapper">
    <div class="modal-card shadow-lg rounded overflow-hidden">
      <div class="modal-header bg-danger text-white d-flex justify-content-center align-items-center">
        <i class="bi bi-x-circle"></i>
      </div>
      <div class="body d-flex flex-column justify-content-center align-items-center">
        <h2 class="mt-3">Błąd!</h2>
        <p>{{errorModalService.getError.errorMessage}}</p>
      </div>
      <div class="footer d-flex flex-column justify-content-center align-items-center">
        <button 
          class="btn btn-outline-danger mb-3 text-uppercase"
          (click)="errorModalService.closeModal()">
            Zamknij
        </button>
      </div>
    </div>
</div>