<div class="navigation shadow" [ngStyle]="{ 'transform': navigationService.isMenuOpen() ? 'translateX(0)' : 'translateX(-102%)' }">
  <div class="d-flex w-100 justify-content-between">
    <div class="logo">
      <app-logo/>
      <i class="bi bi-text-indent-right fs-3" (click)="navigationService.closeMenu()"></i>
    </div>
  </div>
  <ul>
    @for (link of links; track $index) {
      <li routerLinkActive="active">
        <div></div>
        <a [routerLink]="link.path">
          <i [className]="link.icon"></i>
          {{link.label}}
        </a>
      </li>
    }
  </ul>
</div>