<div class="container-fluid d-flex justify-content-center py-2">
    <div class="header">
        <div class="icon-handler shadow">
            <i class="bi bi-text-indent-left fs-4" (click)="navigationService.openMenu()"></i>
        </div>
        <div class="d-flex">
            <div class="icon-handler shadow">
                <i class="bi bi-bell fs-4"></i>
            </div>
            <div class="icon-handler shadow ms-3" (click)="logout()">
                <i class="bi bi-box-arrow-in-left fs-4"></i>
            </div>
        </div>
    </div>
</div> 
